<h5 class="black-text">Footer Content</h5>
<p class="black-text">
<table class="grey-text text-darken-4 contactgegevens">
    <tbody>
    <tr>
        <td><i class="small material-icons">local_phone</i></td>
        <td><a href="tel:+31 6 30 38 32 88">+31 6 30 38 32 88</a></td>
    </tr>
    <tr>
        <td><i class="small material-icons">mail_outline</i></td>
        <td><a href="mailto:guus@eikens.com">guus@eikens.com</a></td>
    </tr>
    <tr>
        <td><i class="small material-icons">search</i></td>
        <td><a href="http://guus.eikens.com">http://guus.eikens.com</a></td>
    </tr>
    <tr>
        <td><i class="small material-icons">home</i></td>
        <td>Prinses Ireneplateau 123 <br>554 HW Utrecht</td>
    </tr>
    <tr>
        <td><i class="small material-icons">cake</i></td>
        <td>21-4-1968</td>
    </tr>
    </tbody>
</table></p>